html {
   scroll-behavior: smooth;
}
body {
   margin: 0;
   padding: 0;
   background-image: url(../images/fon.webp);
   background-color: rgb(226, 220, 212);
   background-repeat: no-repeat;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.accordion {
   font-family: "Playwrite GB S", cursive;
}

.text_ac {
   font-family: "Playwrite GB S", cursive;
   font-size: 20px;
}
.contain_posl {
   background-color: rgba(255, 255, 255, 0.7);
   text-align: center;
   font-size: 40px !important;
   border-radius: 15px;
}
h2 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px !important;
   color: black;
}
.contain {
   width: 70%;
   max-width: 1024px;
   margin: 0 auto; 
}

header {
   display: flex;
   justify-content: space-between; 
   align-items: center; 
   padding: 20px;
   background-color: #575757; 
}

.header__text {
   color: #ffffff; 
   font-size: 27px; 
   margin: 0;

}

nav {
   display: flex;
   align-items: center; 
}

nav a {
   color: #ffffff; 
   text-decoration: none;
   margin-left: 30px;
   font-size: 18px;
   letter-spacing: 2px;
   padding-bottom: 5px;
}

.owl-carousel .item {
   height: 500px;
}
.owl-carousel .item img{
   height: 500px;
   width: auto;
}
.popup-gmaps {
   display: inline-block; 
   padding: 10px 20px; 
   background-color: #b79d3d; 
   color: white; 
   text-decoration: none;
   border-radius: 5px; 
   transition: background-color 0.3s ease; 
}

.popup-gmaps:hover {
   background-color: #cda52c4b; 
}
.butm {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}